{
  "presets": [
    ["env", { "modules": false }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "lance": "./node_modules/lance-gg/es5"
      }
    }]
  ]
}
